@charset "utf-8";
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SEBANG_Gothic_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,600&display=swap');

/* media query */

@mixin screen_max($screen) {
    @media screen and (max-width: $screen) {
        @content;
    }
}

@mixin screen_min($screen) {
    @media screen and (min-width: $screen) {
        @content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'SEBANG_Gothic_Bold';
    letter-spacing: 0.175em;
    text-transform: uppercase;
}

body {
    line-height: 1.75;
    font-family: 'SEBANG_Gothic_Regular';
}


/* Color-set */

$color-black: #151515;
$color-white: #eeeeee;
$color-gray: #999999;
$color-point-main: #c0ed29;
$color-point-sub: #418368;
$color-background: #24282d;
$color-background-gray: #f0f0f0;
* {
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera*/
    }
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100% !important;
}

.txt-center {
    text-align: center !important;
}

.clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

body {
    position: relative;
    font-size: 11pt;
    text-size-adjust: none;
    &.before {
        color: $color-black;
        background-color: $color-background-gray;
        .point-color {
            color: $color-point-sub !important;
        }
        header {
            background-color: $color-background-gray;
        }
        .menu {
            li {
                &.active {
                    .link {
                        background-color: darken($color-background-gray, $amount: 15);
                    }
                }
                @include screen_min(1000px) {
                    &:hover {
                        .link {
                            background-color: darken($color-background-gray, $amount: 15) !important;
                        }
                    }
                }
            }
        }
        .link {
            background-color: darken($color-background-gray, $amount: 5);
        }
        .ch_talk,
        .ch_option_tit {
            color: $color-point-sub;
        }
        .ch_option_txt {
            color: $color-black;
            em {
                color: $color-point-sub;
            }
            .point,
            &.point,
            &.active {
                color: $color-black;
            }
        }
        .msg {
            border-top: 2px solid $color-point-sub;
        }
    }
    &.after {
        color: $color-white;
        background-color: $color-background;
        .point-color {
            color: $color-point-main !important;
        }
        header {
            background-color: $color-background;
        }
        .menu {
            li {
                &.active {
                    .link {
                        background-color: darken($color-background, $amount: 15);
                    }
                }
                @include screen_min(1000px) {
                    &:hover {
                        .link {
                            background-color: darken($color-background, $amount: 15) !important;
                        }
                    }
                }
            }
        }
        .link {
            background-color: darken($color-background, $amount: 5);
        }
        .ch_talk,
        .ch_option_tit {
            color: $color-point-main;
        }
        .ch_option_txt {
            color: $color-gray;
            em {
                color: $color-point-main;
            }
            .point,
            &.point,
            &.active {
                color: $color-white;
            }
        }
        .msg {
            border-top: 2px solid $color-point-main;
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 16px;
    text-align: center;
}

.menu {
    display: inline-block;
    margin: -4px;
    li {
        float: left;
        padding: 4px;
        list-style: none;
        &.active {
            .link {
                @extend .point-color;
            }
        }
    }
}

.link {
    display: block;
    padding: 0.25em 1em;
    text-decoration: none;
    border-radius: 2em;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    &-item {
        font-size: 9pt;
        i {
            margin-right: 4px;
            font-size: 13pt;
            text-align: center;
            vertical-align: middle;
            &.fa-caret-up,
            &.fa-caret-down {
                margin-right: 0;
            }
        }
    }
}

#effect {
    margin-left: 4px;
    @extend .point-color;
}

#profile_img {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    box-sizing: border-box;
    .ch_img {
        padding: 16px 0;
        filter: drop-shadow(0 0 4px rgba($color-black, 1));
    }
}

#profile_page {
    position: relative;
    top: 0;
    right: 0;
    width: 50%;
    margin-left: 50%;
    padding: 20vh 16px 15vh;
    box-sizing: border-box;
    overflow: hidden;
}

.ch_talk,
.ch_option_tit {
    // text-align: center;
}

.ch_talk {
    // font-family: "InkLipquid";
}

.ch_option_tit {
    margin-top: 7.5vh;
    font-size: 13pt;
    text-indent: 0.2em;
    letter-spacing: 0.2em;
}

.ch_option_txt {
    padding: 16px 0;
    text-align: justify;
    text-indent: 0.5em;
    em {
        font-style: normal;
    }
    &.txt-center {
        text-indent: 0;
    }
}

.ch_power,
.ch_per,
.ch_etc {
    .ch_option_txt {
        text-indent: 0;
        &.plus {
            padding-top: 0;
            text-indent: 0.5em;
        }
    }
}

.s-txt {
    font-size: 0.85em;
    opacity: 0.5;
}

.msg {
    margin-top: 10vh;
    padding: 2em 0 8px;
    font-size: 9pt;
    p {
        padding: 8px 0;
    }
    .postscript {
        opacity: 0.5;
    }
}