@charset "utf-8";

/* Color-set */
$color-black: #222b22;
$color-white: #ffffff;
$color-gray: #f0f0f0;
$color-point-main: #737a3e;

// lighten
@mixin color-lighten($oriColor) {
    color: lighten($color: $oriColor, $amount: 10);
}
@mixin border-lighten($px, $style, $oriColor) {
    border: $px $style lighten($color: $oriColor, $amount: 10);
}
@mixin bg-lighten($oriColor) {
    background-color: lighten($color: $oriColor, $amount: 10);
}

// Darken
@mixin color-darken($oriColor) {
    color: darken($color: $oriColor, $amount: 10);
}
@mixin border-darken($px, $style, $oriColor) {
    border: $px $style darken($color: $oriColor, $amount: 10);
}
@mixin bg-darken($oriColor) {
    background-color: darken($color: $oriColor, $amount: 10);
}
/* IBM Plex Sans Text*/
@font-face {
    font-family: "IBMPlexSansKR-Text";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
// 조선 신명조
@font-face {
    font-family: "ChosunSm";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
// 조선 견고딕
@font-face {
    font-family: "ChosunBg";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
// 잉크립퀴드
@font-face {
    font-family: "InkLipquid";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* media query */
@mixin screen_max($screen) {
    @media screen and (max-width: $screen) {
        @content;
    }
}
@mixin screen_min($screen) {
    @media screen and (min-width: $screen) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

img {
    max-width: 100%;
}

body {
    position: relative;
    color: $color-black;
    font-size: 11pt;
    font-family: "ChosunSm";
    line-height: 1.8;
    text-size-adjust: none;
    background-color: $color-gray;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        // display: block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-image: url("../img/bg.jpg");
        background-repeat: no-repeat;
        background-position: bottom;
    }
}

#profile_page {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 15vh 16px 50vh;
    box-sizing: border-box;
    overflow: hidden;
}

h1,
h2,
p.txt-center {
    font-weight: normal;
    text-align: center;
    text-indent: 0;
}

h1.ch_talk {
    color: $color-point-main;
    font-family: "InkLipquid";
}

h2 {
    margin-top: 10vh;
    color: $color-point-main;
    font-size: 13pt;
    font-family: "ChosunBg";
    text-indent: 0.2em;
    letter-spacing: 0.2em;
}

.txt-wrap {
    padding: 8px 0;
    p {
        padding: 8px 0;
    }
}

p {
    margin: 0;
    padding: 16px 0;
    text-align: justify;
    text-indent: 0.5em;
    em {
        color: $color-point-main;
        font-style: normal;
        font-family: "ChosunBg";
    }
}

.msg {
    margin-top: 10vh;
    padding: 2em 0 8px;
    font-size: 9pt;
    font-family: "IBMPlexSansKR-Text";
    border-top: 2px solid $color-point-main;
    p {
        padding: 8px 0;
    }
    .postscript {
        opacity: 0.5;
    }
}
