@charset "utf-8";

// font-set
@font-face {
    font-family: "SpoqaHanSansNeo-Light";
    src: url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.eot);
    src: local(☺), url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.woff2) format("woff2"),
        url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.woff) format("woff"),
        url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.ttf) format("truetype");
}

@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.eot);
    src: local(☺), url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff2) format("woff2"),
        url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff) format("woff"),
        url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "SpoqaHanSansNeo-Medium";
    src: url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.eot);
    src: local(☺), url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.woff2) format("woff2"),
        url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.woff) format("woff"),
        url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "SpoqaHanSansNeo-Bold";
    src: url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.eot);
    src: local(☺), url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff2) format("woff2"),
        url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff) format("woff"),
        url(../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'HomemadeApple';
    src: url(../font/HomemadeApple/HomemadeApple-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-L: "SpoqaHanSansNeo-Light";
$font-R: "SpoqaHanSansNeo-Regular";
$font-M: "SpoqaHanSansNeo-Medium";
$font-B: "SpoqaHanSansNeo-Bold";
$font-hand: 'HomemadeApple',
'InkLipquid';

// media query
@mixin screen_max($screen) {
    @media screen and (max-width: $screen) {
        @content;
    }
}

@mixin screen_min($screen) {
    @media screen and (min-width: $screen) {
        @content;
    }
}

// Color-set
$color-point-main: #717a0e;
$color-point-sub: #225c34;

// color-grey-scale
$color-w0: #ffffff;
$color-w1: #f5f5f5;
$color-w2: #eeeeee;
$color-w3: #e0e0e0;
$color-w4: #bdbdbd;
$color-b4: #9e9e9e;
$color-b3: #757575;
$color-b2: #616161;
$color-b1: #424242;
$color-b0: #000000;

body {
    $font-R: "SpoqaHanSansNeo-Regular";
}

img {
    vertical-align: bottom;
}

.view_pc {
    display: block;
}

.view_pc_tb {
    display: block;
}

.view_tb {
    display: none;
}

.view_tb_sp {
    display: none;
}

.view_sp {
    display: none;
}

.second_box .sub_nav .newmark {
    text-shadow: none;
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    padding: 0.2em 0.1em 0.2em 0.2em;
    color: $color-w0;
    background-color: $color-point-main;
    font-size: 12px;
    border: 1px solid $color-b0;
    line-height: 1.2em;
}

.second_box .sub_nav {
    background-image: url(../img/pt1.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 50%;
    text-align: center;
    padding: 10px 0;
    background-color: $color-point-main;
    border-bottom: 8px solid $color-b0;
    position: relative;
}

.second_box .sub_nav a {
    border: 2px solid $color-b0;
    color: $color-w0;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    background-color: $color-point-main;
    box-sizing: border-box;
    margin: 0.3em 1.0em;
    letter-spacing: 0.2em;
    position: relative;
    padding: 5px;
    box-shadow: -2px 2px 0 0 $color-w0, 2px -2px 0 0 $color-w0, -2px -2px 0 0 $color-w0, 2px 2px 0 0 $color-w0;
}

.second_box .sub_nav a div {
    width: 100%;
    display: inline-block;
    padding: 0.4em 1.0em;
    text-align: center;
    background-color: $color-b0;
    box-sizing: border-box;
    color: $color-w0;
    min-width: 110px;
    font-weight: bold;
    text-shadow: 0px 0px 1px $color-b0, 1px 0px 0px $color-b0, 1px 1px 0px $color-b0, 0px 1px 0px $color-b0;
}

.second_box .sub_nav a:hover,
.second_box .sub_nav a.selected {
    background-color: $color-w3;
}

.second_box .sub_nav a.selected::after {
    content: '';
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background-image: url(../img/sub_nav_select.png);
    background-size: contain;
    position: absolute;
    top: 0;
    left: -1.5em;
    z-index: 2;
}

.second_box .sub_nav a:hover div,
.second_box .sub_nav a.selected div {
    color: $color-w0;
    background-position: center;
    background-repeat: no-repeat;
}

.second_box_content {
    box-sizing: border-box;
    background-image: url(../img/right_bottom.png), url(../img//left_bottom.png), url(../img/content_bottom_bg.jpg), url(../img/content_top_bg.jpg);
    background-position: bottom right, bottom left, bottom center, top center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 8%, 8%, auto, auto;
    background-color: #dedede;
    padding: 95px 0;
}

.second_box_content .box_wrap {
    border: 8px solid $color-b0;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1px;
    background-color: #ebebeb;
}

.second_box_content .box {
    width: 100%;
    box-sizing: border-box;
    padding: 1.5%;
    text-align: center;
    background-image: url(../img/box_bottom_bg.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    border: 1px solid $color-b0;
}

.second_box_content .read {
    width: 100%;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    background-color: $color-b0;
    border: 5px solid $color-b0;
}

.second_box_content .read_in {
    width: 100%;
    background-color: $color-point-main;
    box-sizing: border-box;
    text-align: center;
    background-image: url(../img/pt1.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 20px;
}

.second_box_content .read_in img {
    width: 90%;
    max-width: 400px;
}

.second_box_content .newmark {
    text-shadow: none;
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    color: $color-w0;
    background-color: $color-point-main;
    font-size: 16px;
    border: 3px solid $color-b0;
    line-height: 1.0em;
}

#ss_box_wrap {
    max-width: 1000px;
    font-size: 16px;
}

.ss_box {
    width: 96%;
    max-width: 800px;
    margin: 0 auto;
    padding: 4% 2%;
    box-sizing: border-box;
}

.ss_box dl {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    max-width: 960px;
}

.ss_select {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #bcbcbc;
}

.ss_select .newmark {
    font-size: 12px;
    border: 1px solid $color-b0;
}

.ss_select p {
    margin-top: 10px;
    background-color: $color-w0;
    display: inline-block;
    padding: 0.5em;
    margin-bottom: 0.3em;
    border: 1px solid $color-b0;
    border-bottom: 3px solid $color-b0;
    border-right: 3px solid $color-b0;
    width: 90%;
    box-sizing: border-box;
    max-width: 470px;
}

.ss_select a {
    background-color: $color-b0;
    color: $color-w0;
    padding: 0.3em;
    display: inline-block;
    margin: 0.5%;
    border: solid 3px $color-point-main;
    box-shadow: 1px 1px $color-b0, -1px -1px $color-b0, -1px 1px $color-b0, 1px -1px $color-b0;
    position: relative;
}

.ss_select a:hover {
    border: solid 3px $color-w3;
}

.ss_select a.selected {
    border: solid 3px $color-w3;
    background-color: $color-point-main;
}

.ss_box dl {
    display: flex;
    flex-wrap: wrap;
}

.ss_box dl dt {
    width: 90px;
    height: 90px;
    padding: 0.5% 0;
    text-align: center;
    &.er {
        .img-box {
            background-image: url(../img/er_head.png);
        }
    }
    &.sunset {
        .img-box {
            background-image: url(../img/sunset_head.png);
        }
    }
}

.ss_box dl dt img {
    width: 100%;
    height: 100%;
    border: 2px solid $color-b0;
    background-size: cover;
    box-sizing: border-box;
}

.ss_box dl dd {
    width: calc(92% - 90px);
    padding: 0.5% 1%;
    margin-top: 0.5%;
    margin-right: 2%;
    box-sizing: border-box;
    background-image: url(../img/icon_tra.png);
    background-repeat: no-repeat;
    background-position: left -6px top 7px;
    background-size: initial;
}

.ss_box dl dd .ss {
    background-color: $color-w0;
    box-sizing: border-box;
    padding: 1%;
    border: 1px solid $color-b0;
    border-bottom: solid 3px $color-b0;
    border-right: solid 3px $color-b0;
    text-align: left;
}

.ss_box dl dd span.name {
    font-weight: normal;
    background-color: $color-point-sub;
}

.ss_box .read {
    text-align: center;
    background-color: $color-point-sub;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
    color: $color-point-main;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 52px;
        position: relative;
    }

    .view_pc {
        display: none;
    }

    .view_pc_tb {
        display: block;
    }

    .view_tb {
        display: block;
    }

    .view_tb_sp {
        display: block;
    }

    .view_sp {
        display: none;
    }

    .second_box .sub_nav a {
        font-size: 2.6vw;
    }

    .second_box .sub_nav .newmark {
        font-size: 2.6vw;
    }

    .second_box_content {
        background-size: 25%, 25%, 140%, 140%;
        padding: 10% 0;
    }

    .second_box_content .box {
        background-size: 40%;
    }

    .second_box_content .read {
        margin-bottom: 5%;
    }

    .second_box_content .read_in img {
        width: 60%;
    }

    .second_box_content .newmark {
        font-size: 3.2vw;
        border: 1px solid $color-b0;
    }

    #ss_box_wrap {
        font-size: 13px;
    }

    .ss_select .newmark {
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 480px) {
    .view_pc {
        display: none;
    }

    .view_pc_tb {
        display: none;
    }

    .view_tb {
        display: none;
    }

    .view_tb_sp {
        display: block;
    }

    .view_sp {
        display: block;
    }

    body {
        font-size: 3.2vw;
    }

    .second_box .sub_nav a div {
        min-width: inherit;
        background-size: 80px;
    }

    .second_box .sub_nav a {
        font-size: 3.2vw;
    }

    #common_box article section {
        width: 100%;
    }

    #ss_box_wrap {
        font-size: 3.2vw;
    }

    #ss_box {
        padding: 0;
    }

    .ss_select .newmark {
        font-size: 2.2vw;
        right: -0.5em;
        top: -0.5em;
    }

    .ss_box dl dt {
        width: 15%;
    }

    .ss_box dl dd {
        width: 81%;
        background-size: 6%;
        background-position: left -2% top 20%;
        padding: 0.5% 2%;
    }
}